/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.body{
    width: 100%;
    max-width: 1000;

}

.header{
    width: 100%;
    background-color: #a11e1e;
    height: 4em;
}

.logo{
    margin: 1.4em 0 0 1em;
}

.vector{
    width: 1.3em;
    height: 0.8em;
    margin: -1.4em 0 30em 89%;
}

.h1{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 1.8em;
    margin: 0.8em 0 0 0.9em;
}

.span{
    color: #a11e1e;
}

.p{
    margin: 0.8em 0 0 1.9em;
    font-family: 'Inter', sans-serif; font-size: 0.9em;
    line-height: 1.2em;
}

.p2{
    font-family: 'Inter', sans-serif; font-weight: 800; font-size: 1.8em; 
    margin: 2em 0 0 1em;   
}
.p2-span1{
    text-decoration: line-through;
}

.p2-span2{
    font-family: 'Inter', sans-serif; font-weight: 300;
    text-decoration: line-through;
    font-size: large;
    margin: 0 0 1px 7%;
}

.enroll-now{
    margin: 1em 1em 2em 1.5em;
    font-family: 'Inter', sans-serif; font-weight: 900; color: white;
    /* border: solid; border-color: white; */
    background-color: #a11e1e;
    padding: 1.2em 0 0 8em;
    height: 2em; width: 15.3em;
    
}

.course, .content{
    font-family: 'Inter', sans-serif; font-size: 1.5em; font-weight: 800;
    margin: 1em 0 0 1.2em;
}

.p3{
    /* font-family: 'Inter', sans-serif; */
    margin: 0.8em 0 0 1.9em;
    font-family: 'Inter', sans-serif; font-size: 0.9em;
    line-height: 1.2em;
}
.div{
    background-color: rgb(255, 210, 7);
    border: solid; border-color: rgb(255, 210, 7);
    height: 17.5em;    
}

.content{
    color: #a11e1e;
}

.div2{
    border: 1px solid; border-color: black; 
    width: 23em;
    margin: 0.7em 0 0 1.6em;
    height: 19em;
}

h4{
    font-family: 'Inter', sans-serif; font-size: 1.4em; font-weight: 600;
    margin: 0.8em 0 0 0;
    border-bottom: 1px solid;
    border-bottom-color: black; width: 88%; height: 2em;
    margin: 0 0 0 0; padding-left: 2em; padding-top: 0.8em; padding-bottom: 0.2em;
}

.p4{
    margin: 0.8em 0 0 3em;
    font-family: 'Inter', sans-serif;
}

li{
    font-family: 'Inter', sans-serif; font-size: small;
    margin: 1.5em 0 0 5em;
    line-height: 0.0em;
    list-style-type: square;
    list-style-type: #a11e1e;
}

.slider{
    background-color: rgb(255, 232, 21);
    height: 28em;
    margin: 1.5em 0 0 0;
}

.img{
    margin: 2em 0 0 1.3em;
    width: 90%;
    height: 23em;
}

footer{
    background-color: black;
    height: 18em;
    
}

h5{
    font-family: 'Inter', sans-serif; font-size: 1em;
    margin: 0 0 0 1.5em;color: white;
}
nav{
    padding-top: 1.5em;
}

.li{
    color: white;
    list-style-type: none;
    margin-left: 2em;
}

.div3{
    margin: -8.7em 0 0 15.5em;
}
i{
    font-size: 1.2em;
    color: white;
    /* background-color: white; */
    margin: 0.4em 0 0 0.2em;
}
.line{
    /* display: -moz-grid-line; */
    background-color: rgba(173, 170, 170, 0.164);
    height: 0.1em;
    width: 89%;
    margin: 9em 0 0 1.5em;
}
pre{
    color: white;
    font-family: 'Inter', sans-serif; font-size: x-small;
    margin: 1.3em 0 0 2.5em

}